body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section:nth-child(2){
    margin-top: 40px;
    margin-bottom: 40px;
}
main {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    padding: 80px;
    background-color: #fff;
    box-shadow: 0 4px 8px black;
    transition: transform 0.2s;
}
main:hover{
    transform: scale(1.02);
}
.header{
    width: 100%;
}
.header ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    float: left;
    font-size: 20px;
  }
  
  .header ul li {
    float: left;
    padding: 10px;
  }
  
  .header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header ul li a:hover:not(.active) {
    background-color: tomato;
  }
  .header ul li a:hover{
      background-color: tomato;
  }
  .active {
    background-color: #111;
  }
